<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test: {{ form.vars.name }}</title>
    <link href='/css/bootstrap.min.css' rel="stylesheet" type="text/css" media="all" />
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/jquery.validate.defaults.js"></script>
    <script src="/js/additional-methods.js"></script>
    <script>
        (function($){
            $.fn.formCollection = function(options) {
                var container = $(this);
                var rmBtn = '<a href="#" class="collection-rm">Remove</a>';

                // Add
                var addBtn = $('<a href="#" class="collection-add">Add</a>');
                addBtn.click(function(event){
                    event.preventDefault();

                    var prototype = container.attr('data-prototype');
                    var regex = new RegExp(options.name, 'g');
                    var replaceVal = options.count;
                    options.count++;

                    var newItem = $(prototype.replace(regex, replaceVal));
                    newItem.appendTo(container);

                    setTimeout(options.js.replace(regex, replaceVal), 100);

                    $(rmBtn).appendTo(newItem);
                });
                addBtn.insertAfter(container);

                // Remove
                container.on('click', '.collection-rm', function(event) {
                    event.preventDefault();

                    $(this).parent().remove();
                });
                container.children().each(function(){
                    $(this).append(rmBtn);
                });
            };

            $.validator.setDefaults({
                errorElement: 'li',
                errorPlacement: function(error, element) {
                    var label = $('label[for="'+$(element).attr('id')+'"]');
                    var container = label.next('ul');
                    if (container.length === 1) {
                        container.empty();
                    } else {
                        container = $('<ul></ul>').insertAfter(label);
                    }
                    container.append(error);
                },
                highlight: function(element) {
                    $('label[for="'+$(element).attr('id')+'"] + ul').show();
                },
                unhighlight: function(element) {
                    $('label[for="'+$(element).attr('id')+'"] + ul').hide();
                },
                ignore: function(idx, elt) {
                    // Only validate a hidden field when it has a rule attached.
                    return $(elt).is(':hidden') && $.isEmptyObject($( this ).rules());
                }
            });
        })(jQuery);
    </script>
</head>
<body class="container" style="margin-top: 15px">
    <div class="panel panel-default">
        <div class="panel-heading">Test: {{ form.vars.name }}</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked col-xs-5 col-sm-3">
                <li><a href="{{ path('form_simple') }}">Simple Form</a></li>
                <li><a href="{{ path('form_simple_data') }}">Simple Data Form</a></li>
                <li><a href="{{ path('form_child_data') }}">Child Data Form</a></li>
                <li><a href="{{ path('form_include_simple_data') }}">Include Simple Data Form</a></li>
                <li><a href="{{ path('form_buttons') }}">Buttons Form</a></li>
                <li><a href="{{ path('form_collection') }}">Collection Form</a></li>
                <li><a href="{{ path('form_collection_groups') }}">Collection with groups Form</a></li>
                <li><a href="{{ path('form_collection_compound') }}">Collection Compound Form</a></li>
                <li><a href="{{ path('form_date_time') }}">DataTime Form</a></li>
                <li><a href="{{ path('form_view_transform') }}">View/Data transformers Form</a></li>
                <li><a href="{{ path('form_collection_datetime') }}">Collection DateTime Form</a></li>
                <li><a href="{{ path('form_additional_rules') }}">Additional Rules</a></li>
                <li><a href="{{ path('form_issue_7') }}">Issue 7</a></li>
                <li><a href="{{ path('form_issue_8') }}">Issue 8</a></li>
                <li><a href="{{ path('form_issue_16') }}">Issue 16</a></li>
                <li><a href="{{ path('form_issue_17') }}">Issue 17</a></li>
                <li><a href="{{ path('form_issue_18') }}">Issue 18</a></li>
            </ul>
            <div class="col-xs-7 col-sm-9">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% form_theme form _self %}

                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    {% if button is not defined or not button %}
                        <input type="submit" value="submit" />
                    {% endif %}
                {{ form_end(form) }}
                <div>
                    <label>
                        <input type="checkbox" onclick="$('form').validate().cancelSubmit = $(this).is(':checked');">
                        Server side validation
                    </label>
                </div>

                <script id="validation_script">
                    {{ form_jquery_validation(form) }}
                </script>
            </div>
        </div>
    </div>
</body>
</html>

{% block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype-js': form_jquery_validation(form)}) -%}
    {% endif %}

    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) ~ '<script>'}) -%}
    {% endif %}

    {{- block('form_widget') -}}

    {% if prototype is defined %}
    <script>
        (function($){
            $(document).ready(function() {
                $("#{{ form.vars.id }}").formCollection({
                    name: "{% autoescape 'js' %}{{ form.vars.prototype.vars.name }}{% endautoescape %}",
                    count: {{ form.children|length }},
                    js: "{{ form_jquery_validation(form)|e('js') }}"
                });
            });
        })(jQuery);
    </script>
    {% endif %}
{%- endblock collection_widget %}
