<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js"></script>
</head>
<body>
    <ul>
        <li><a href="{{ path('form_simple') }}">Simple Form</a></li>
        <li><a href="{{ path('form_simple_data') }}">Simple Data Form</a></li>
        <li><a href="{{ path('form_buttons') }}">Buttons Form</a></li>
        <li><a href="{{ path('form_collection') }}">Collection Form</a></li>
    </ul>

    {% form_theme form _self %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        {% if button is not defined or not button %}
            <input type="submit">
        {% endif %}
    {{ form_end(form) }}

    <script id="validation_script">
        {{ form_jquery_validation(form) }}
    </script>
</body>
</html>

{% block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype-js': form_jquery_validation(form)}) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget %}
